[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "i3/i3ipc-dynamic-tiling"]
	path = i3/i3ipc-dynamic-tiling
	url = https://github.com/chlyz/i3ipc-dynamic-tiling
